/*Universal Selector */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
html {
    background-image: url("../images/paper.gif");

}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 95%;
    max-width: 1024px;
    margin: 0 auto;
    border: 5px solid steelblue;
    box-shadow: 5px 5px 8px grey;
}
h1 {
    font-size: 150%;
    margin-left: .5em;
}

/* Header Tags */

header {
    border-bottom: 5px solid steelblue;
    background-image: linear-gradient(white, lightsteelblue);
}
header h2{
    font-size: 250%;
    text-indent: 30px;
    font-style: italic;
    color: steelblue;
    text-shadow: 2.5px 2.5px rgb(44, 95, 136);
    margin-top: 1em;
}
header h3 {
    font-size: 150%;
    text-indent: 30px;
    margin-top: 1em;
    margin-bottom: 1.2em;
}
header img {
    float: left;
    max-width: 140px;
    width: 100%;
    min-width: 70px;
}

/* Horizontal Menu Bar - Float and Block Style*/

#nav_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: steelblue;
  }
  
  #nav_menu ul li {
    float: left;
  }
  #nav_menu #about {
      float: right;
  }
  
  #nav_menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  #nav_menu ul li a:hover {
    background-color: lightsteelblue;
    color: black;
  }

/* Horizontal Nav Menu - 
#nav_menu ul {
    list-style: none;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 8px 0;
    background-color: #afeeee;
}
#nav_menu ul li {
    display: inline;
    padding: 10px 20px;
    border-right: 3px solid black;
}
#nav_menu #last {
    border-right: none; 
}
#nav_menu ul li a {
text-decoration: none;
font-weight: bold;
}
#nav_menu ul li a:hover {
    color: red;
} */

/* Vertical Navigation List */

#nav_list ul {
    list-style: none;

}
#nav_list ul li {
    width: 90%; 
    padding: 2px;
}
#nav_list ul li a {
    display: block;
    font-weight: bold; 
    text-decoration: none;
    background-color: lightsteelblue;
    padding: 0.5em;
    border: 2px solid black;
}
#nav_list ul li a:hover{
    background-color: steelblue;
}

main {
    clear: both;
}
section h2, section h3, aside h2 {
    font-size: 150%;
    margin-left:  .5em;
   
}
section p {
    margin: 1em;
}
section blockquote {
    margin-left: 3em;
    margin-right: 3em;
    font-size: 90%;
    color: navy;
    border-left: 3px solid maroon;
    padding: 5px;
    background-color: khaki ;
}

section a:link {
    color: maroon;
}

section a:visited {
    color: maroon;
}

aside ul {
     margin-left: 2em;
}
aside a:link {
    color: steelblue;
}
aside a:visited {
    color: steelblue;
}
aside a:hover{
    color: maroon;
}
aside a:active {
    color: maroon;
}
aside li {
    margin-left: 20px;
}
.sidebar {
    width: 33%;
    padding-top: 20px;
}
.sidebar h2 {
    color: maroon;
    font-size: 180%;
}
.sidebar li {
    margin-top: 5px;
    margin-left: .5em;
}
.homesection {
    width: 65%;
    float: right;
    padding-top: 10px;
}
footer{
    background-color: steelblue;
    margin-top: 10px;
    clear: both;
}
footer p{
    font-size: 75%;
    text-align-last: center;
    color: white;
    padding: 2em;
    font-weight: bold;
    font-variant: small-caps;
}

#mobilemenu {
    display: none;
}

@media only screen and (max-width: 600px) {
    .homesection {
        float: none;
        width: 100%;
    }
    .sidebar {
        width: 100%;
    }
    #nav_menu {
        display: none;
    }
    #mobilemenu {
        display: block;
    }
    .slicknav_menu {
        background-color: steelblue !important;
    }
}
@media only screen and (max-width: 400px) {

}