* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    border: 5px solid steelblue;
    box-shadow: 5px 5px 8px grey;
}
h1 {
    font-size: 150%;
    margin-left: 15px;
}
header {
    border-bottom: 5px solid steelblue;
    background-image: linear-gradient(white, lightsteelblue);
}
header h2{
    font-size: 250%;
    text-indent: 30px;
    font-style: italic;
    color: steelblue;
    text-shadow: 2.5px 2.5px rgb(44, 95, 136);
    margin-top: 15px;
}
header h3 {
    font-size: 150%;
    text-indent: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
}
header img {
    float: left;
}
main {
    clear: both;
}
section h2, section h3, aside h2 {
    font-size: 150%;
    margin: 15px;
   
}
section p {
    margin: 15px;
}
section blockquote {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 90%;
    color: navy;
    border-left: 3px solid maroon;
    padding: 5px;
    background-color: khaki ;
}

section a:link {
    color: maroon;
}

section a:visited {
    color: maroon;
}

aside ul {
     line-height: 25px;
}
aside a:link {
    color: steelblue;
}
aside a:visited {
    color: steelblue;
}
aside a:hover{
    color: maroon;
}
aside a:active {
    color: maroon;
}
aside li {
    margin-left: 65px;
}
.sidebar {
    width: 33%;
    padding-top: 10px;
}
.sidebar h2 {
    color: maroon;
}
.homesection {
    width: 65%;
    float: right;
    padding-top: 10px;
}
footer{
    background-color: steelblue;
    clear: both;
}
footer p{
    font-size: 50%;
    text-align-last: center;
    color: white;
    padding: 25px;
    font-weight: bold;
    font-variant: small-caps;
}